@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #151515;
}

@theme {
  --font-deca: "Lexend Deca", ui-sans-serif, system-ui, sans-serif;
}
